<!DOCTYPE html>
<html>
<head>
    <title>Model Coupling</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>    
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/ASU_Athletics_Logo.svg/2560px-ASU_Athletics_Logo.svg.png" alt="ASU logo">
        <h1>Model Coupling</h1>
        <h2>Upload your file here</h2>
        <form action="/success" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload and clean">
        </form>
</body>
</html>
